.dropdown-container {
  float:right;
  width:200px;

  .dropdown-list{
    &-show{
      display:block;
      transform: scale(1,1);
      position: absolute;
      z-index: $z-drop-down;
    }
    display:none;
  }
  .default-filter{
  }
}
