.navbar {
  background-color:$primary-color;
  box-shadow: $box-shadow;
  border:0;
  border-radius:0;
}

.navbar-default .navbar-brand{
  color:white;
  font-size: 3rem;
}

.navbar-form {
  border:0;
}
