.restaurant-list{
  height:100vh;
  background-color: $secondary-color;
  overflow-y: scroll;
}

.list-text{
  float:left;
  margin:0;
}
.list-header{
  background-color: $secondary-color;
  height:40px;
}

.list-item-image{
  float:right;
}

.list-table{
  float:left;
}

.list-item-number{
  float:left;
  width: 40px;
  color: grey;
}

.list-item-container{
  border-bottom: 1px solid grey;
  padding:20px 0;
}
