.restaurant-list{
  height:100%;
  background-color: $secondary-color;
}

.list-text{
  float:left;
  margin:0;
}
.list-header{
  background-color: $secondary-color;
  height:40px;
}

.list-item-image{
  float:right;
}

.list-table{
  float:left;
}

.list-item-number{
  float:left;
  padding-right: 20px;
}
